.App {
  min-height: 100vh;
  background-color: #a6cef7;
  font-family: "Dosis", sans-serif;
}
.title {
  text-align: center;
  font-size: 3rem;
  color: #42037e;
  margin: 0;
  padding-top: 2rem;
}

.search-form {
  min-height: 10vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.recipes {
  display: flex;
  align-items: flex-start;
}

.form-input {
  margin: 1rem;
}

.form-input label {
  margin-right: 1rem;
  color: #42037e;
  font-size: 18px;
  font-weight: bold;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: #42037e;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1000px) {
  .search-form {
    flex-wrap: wrap;
    justify-content: left;
    width: 300px;
    margin-left: 8%;
  }
}
