.ingredient {
  width: 80px;
  border-radius: 50%;
  height: 80px;
}

.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  width: 40%;
}

.image {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 3px solid blueviolet;
}

li {
  display: flex;
  margin: 1rem;
  align-items: center;
}

li p {
  margin: 1rem;
}
